<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/kpkt.png">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{env('APP_NAME', config('app.name'))}}</title>


    <!-- Styles -->
    <link href="{{asset('/matrix/assets/libs/toastr/build/toastr.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.1/css/unicons.css">
    <link rel="stylesheet" type="text/css" href="{{asset('/matrix/assets/libs/select2/dist/css/select2.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('/css/customize.css')}}">
    <style>
        @-webkit-keyframes blinker {
          from {opacity: 1.0;}
          to {opacity: 0.0;}
        }
        .blink{
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:ease-in-out;
            -webkit-animation-direction: alternate;
        }
    </style>
    <link href="{{ mix('/css/app.css') }}" rel="stylesheet">
    <script src="{{asset('/ie/html5shiv.js')}}"></script>
    <script src="{{asset('/ie/respond.min.js')}}"></script>
@yield('css')

<!-- Custom CSS -->
    <!-- <link href="/css/app.css" rel="stylesheet"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
    <style>
        .top-bar { min-width: 0px !important; }
        .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
            padding: 8px !important;
        }
        .table-custom>tbody>tr>td, .table-custom>tbody>tr>th, .table-custom>tfoot>tr>td, .table-custom>tfoot>tr>th, .table-custom>thead>tr>td, .table-custom>thead>tr>th {
            padding: 1px !important;
        }
        .table-custom>tbody>tr>th {
            width: 270px;
        }
    </style>
</head>

<body>
<div id="main-wrapper" class="d-flex flex-column">

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    @yield('body')

</div>


<script src="{{ mix('/js/app.js') }}"></script>
<script src="{{ asset('js/theme.js') }}"></script>
<script src="{{ url('/js/resumable.js') }}"></script>
<script src="{{ url('/js/form-manipulation.js') }}"></script>
<script src="{{ url('/js/calculate-field.js') }}?v=1.1"></script>
<script src="{{ url('/js/bootbox.min.js') }}"></script>
<script src="{{ asset('plugins/daterangepicker/moment.min.js')}}"></script>
<script src="{{ url('/js/bootstrap-datetimepicker.js') }}"></script>
<script src="{{ asset('plugins/daterangepicker/daterangepicker.js')}}"></script>
<script>
    // Configure/customize these variables.
    var showChar = 180; // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Info penuh >";
    var lesstext = "Info kurang";

    $('.more').each(function () {
        var content = $(this).html();

        if (content.length > showChar) {

            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);

            var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink no-loading">' + moretext + '</a></span>';

            $(this).html(html);
        }
    });

    $(".morelink").click(function () {
        if ($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });

    // Configure/customize these variables.
    var showChar2 = 200; // How many characters are shown by default
    var ellipsestext2 = "...";
    var moretext2 = "Info penuh >";
    var lesstext2 = "Info kurang";

    $('.more2').each(function () {
        var content = $(this).html();

        if (content.length > showChar2) {

            var c = content.substr(0, showChar2);
            var h = content.substr(showChar2, content.length - showChar2);

            var html = c + '<span class="moreellipses">' + ellipsestext2 + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink2 no-loading">' + moretext2 + '</a></span>';

            $(this).html(html);
        }
    });

    $(".morelink2").click(function () {
        if ($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext2);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext2);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var inputs = document.getElementsByTagName("INPUT");
        var selects = document.getElementsByTagName("SELECT");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Isi maklumat yang betul di kotak ini.");
                }
            };
            inputs[i].oninput = function(e) {
                e.target.setCustomValidity("");
            };
        }

        for (var i = 0; i < selects.length; i++) {
            selects[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Sila buat pilihan dari senarai ini.");
                }
            };
            selects[i].oninput = function(e) {
                e.target.setCustomValidity("");
            };
        }
    })
    $('#datatable').dataTable({
        "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
        "pageLength": 50,
        "aaSorting": []
    });
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    $(".select2").select2();
    $("#fontplus").click(function () {
        var fontSize = parseInt($('body').css("font-size"));
        fontSize = fontSize + 1 + "px";
        $('body').css({
            'font-size': fontSize
        });
    });
    $("#fontminus").click(function () {
        var fontSize = parseInt($('body').css("font-size"));
        fontSize = fontSize - 1 + "px";
        $('body').css({
            'font-size': fontSize
        });
    });
    $("#fontdefault").click(function () {
        var fontSize = parseInt($('body').css("font-size"));
        fontSize = fontSize - 1 + "px";
        $('body').css({
            'font-size': ''
        });
    });

    $('.datetimepicker').datetimepicker({
        stepping:1,
        format: 'DD-MM-YYYY HH:mm',
        maxDate: new Date(),
        defaultDate: new Date(),
    });

    $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy'
    });
    $('.monthpicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'mm-yyyy',
        viewMode: "months",
        minViewMode: "months"
    });

    $('input.date-range').daterangepicker({
        //autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear',
            format: 'DD-MM-YYYY',
            separator: ' : '
        }
    });

    var msg = '{{session()->get('msg')}}';
    var color = '{{session()->get('color')}}';

    toastr.options = {
        // "closeButton": true,
        "positionClass": "toast-bottom-right",
        "timeOut": "@if(!empty(session()->get('timeout'))){{session()->get('timeout')}}@else{{'3000'}}@endif",
        "extendedTimeOut": "@if(!empty(session()->get('timeout'))){{session()->get('timeout')}}@else{{'3000'}}@endif",
    };

    if (msg) {
        switch (color) {
            case 'success':
                toastr.success(msg);
                break;
            case 'info':
                toastr.info(msg);
                break;
            case 'warning':
                toastr.warning(msg);
                break;
            case 'error':
                toastr.error(msg);
                break;
        }
    }

</script>
@yield('script')
<script href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/bm.js"></script>
<script>

    function getDob(nric) {
        var nricYear = nric.substr(0, 2);
        var nricMonth = nric.substr(2, 2);
        var nricDay = nric.substr(4, 2);
        var tahun = nricYear < 50 ? '20'+nricYear : '19'+nricYear;
        return nricDay+'-'+nricMonth+'-'+tahun;
    }

    function calcAge(nric) {
        var nricYear = nric.substr(0, 2);
        var tahun = nricYear < 50 ? '20'+nricYear : '19'+nricYear;
        var age = moment().format('YYYY') - tahun;
        return age <= 0 ? 'Kurang 1 Tahun' : age;
    }

    Number.prototype.formatNumber = function (c, d, t) {
        var n = this,
                c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    function progressBarShow() {
        $('#progressBar').show();
    }

    function progressBarHide() {
        $('#progressBar').hide();
    }

    function preloaderShow() {
        $('.preloader').show();
    }

    function preloaderHide() {
        $('.preloader').fadeOut();
    }

</script>
</body>

</html>
